<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DefaultAppSkin" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DefaultPalette" serializeAs="String">
        <value>Custom/TELUS</value>
      </setting>
      <setting name="TouchUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CompactUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchScaleFactor" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DirectX" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RegisterUserSkins" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value></value>
      </setting>
      <setting name="FontBehavior" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DefaultAppFont" serializeAs="String">
        <value>HelveticaNowDisplay Regular;8.999999</value>
      </setting>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CustomPaletteCollection" serializeAs="Xml">
        <value>
          <CustomPaletteCollection>
            <Skin Name="Basic">
              <SvgPalette Name="TELUS">
                <SvgColor Name="Paint" Value="255,255,255" />
                <SvgColor Name="Paint High" Value="250,250,250" />
                <SvgColor Name="Paint Shadow" Value="227,230,232" />
                <SvgColor Name="Paint Deep Shadow" Value="230,230,230" />
                <SvgColor Name="Brush" Value="55,30,79" />
                <SvgColor Name="Brush High" Value="75,40,109" />
                <SvgColor Name="Brush Light" Value="103,110,115" />
                <SvgColor Name="Brush Major" Value="75,40,109" />
                <SvgColor Name="Brush Minor" Value="225,225,225" />
                <SvgColor Name="Accent Paint" Value="75,40,109" />
                <SvgColor Name="Accent Paint Dark" Value="55,30,79" />
                <SvgColor Name="Accent Paint Light" Value="216,203,229" />
                <SvgColor Name="Accent Paint Lighter" Value="242,239,244" />
                <SvgColor Name="Accent Brush" Value="255,255,255" />
                <SvgColor Name="Accent Brush Light" Value="216,203,229" />
                <SvgColor Name="Red" Value="193,35,53" />
                <SvgColor Name="Green" Value="102,204,0" />
                <SvgColor Name="Blue" Value="34,172,164" />
                <SvgColor Name="Yellow" Value="250,202,105" />
                <SvgColor Name="Black" Value="44,46,48" />
                <SvgColor Name="Gray" Value="178,185,191" />
                <SvgColor Name="White" Value="250,250,250" />
              </SvgPalette>
            </Skin>
          </CustomPaletteCollection>
        </value>
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
    <add name="RequestsManager.My.MySettings.Local_Prod_SupportConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;\\l4pncdot01svm02\WebsInc\Access DB - Prod Support\ProdSupport.db&quot;" />
    <add name="RequestsManager.My.MySettings.DB_Connection" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;I:\Shared drives\Flexit360 Apps (Alain)\Access DBs\Backups\Tests_Dev\20230412.180525.Prod_Support_Issue_Tracking_be.accdb&quot;" providerName="System.Data.OleDb" />
  </connectionStrings>
  <startup></startup>
  <appSettings>
    <add key="TelerikWinFormsThemeName" value="Fluent" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ClientSettingsProvider.ConnectionStringName" value="DefaultConnection" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" connectionStringName="DefaultConnection" credentialsProvider="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" connectionStringName="DefaultConnection" />
      </providers>
    </roleManager>
  </system.web>
</configuration>